* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Raleway;
    margin: 0;
    overflow: hidden;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    height: 100vh;
    justify-content: center;
    align-items: center;
    color: aliceblue;
} 

.cards {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 9px;
    height: 85vh;
    margin: 3px;
    flex: 1;
    position: relative;
    transition: all 550ms ease-in-out;
} 

.cards h3 {
    position: absolute;
    padding: 8px;
    bottom: 0;
    opacity: 0;
    left: 10px;
}

.cards.active {
    flex: 10;
}

.cards.active h3{
  opacity: 1;
  transition: opacity 0.3s ease-in 0.3s;
}

